<!DOCTYPE html>
<html lang="en" class="bg-near-black moon-gray avenir overflow-y-scroll">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" sizes="16x16" href="/static/favicon.png" />
    <link rel="stylesheet" href="/static/tachyons.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>{{ title }}</title>
    <meta name="generator" content="Eleventy" />
    <meta name="author" content="Brian Mock (wavebeem)" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@wavebeem" />
    <meta name="twitter:creator" content="@wavebeem" />
    <meta name="twitter:title" content="{{ title }}" />
    <meta name="og:title" content="{{ title }}" />
    <meta
      name="twitter:image"
      content="https://mpp-destiny-fotl-2021.netlify.app/static/logo.png"
    />
    <meta
      name="og:image"
      content="https://mpp-destiny-fotl-2021.netlify.app/static/logo.png"
    />
    <meta
      name="description"
      content="MeowPewPew Destiny 2 Festival of the Lost 2021 costume contest"
    />
    <meta
      name="twitter:description"
      content="MeowPewPew Destiny 2 Festival of the Lost 2021 costume contest"
    />
    <meta
      name="og:description"
      content="MeowPewPew Destiny 2 Festival of the Lost 2021 costume contest"
    />
  </head>
  <body class="min-vh-100 flex flex-column f4">
    <header class="bg-black bb bw1 b--dark-gray white">
      <div class="mw9 pv2 ph3 ph4-ns center flex items-center">
        <img
          src="/static/logo-header.svg"
          alt="MeowPewPew"
          width="63"
          height="63"
        />
        <h1 class="f4 f3-m f2-l ml2">Costume Contest 2021</h1>
      </div>
    </header>

    <nav class="bg-near-black bb bw1 b--dark-gray">
      <!-- prettier-ignore -->
      <div class="mw9 ph3 center flex flex-wrap">
        {% for section in sections %}
          {% set class %}
             cool-link db pv3 ph3
             bb bw1
            {% if section.url == page.url %}
              white
            {% else %}
              yellow hover-light-yellow b--transparent
            {% endif %}
          {% endset %}
          <a
            class="{{ class }}"
            href="{{ section.url }}"
          >{{ section.name }}</a>
        {% endfor %}
      </div>
    </nav>

    <main class="w-100 mw9 pv2 ph3 ph4-ns center flex-auto lh-copy">
      {{ content | safe }}
    </main>

    <footer class="bt bw1 b--dark-gray silver f5">
      <div class="mw9 pv3 ph3 ph4-ns center tc">
        &copy; 2021
        <a
          href="https://www.wavebeem.com/"
          class="moon-gray hover-near-white copy-link"
          >wavebeem</a
        >
        & MeowPewPew
      </div>
    </footer>
  </body>
</html>
