<!DOCTYPE html>
<html lang="en" class="bg-near-black light-silver avenir overflow-y-scroll">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/tachyons.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>{{ title }}</title>
  </head>
  <body class="min-vh-100 flex flex-column">
    <header class="bg-black bb b--dark-gray white">
      <div class="mw7 pv2 ph3 center flex items-center">
        <img src="/static/logo.svg" alt="MeowPewPew" width="63" height="63" />
        <h1 class="f2-l f3-m ml2 f4">Costume Contest 2021</h1>
      </div>
    </header>

    <nav class="bg-near-black bb b--dark-gray f4-ns">
      <div class="mw7 pv3 ph3 center nav-grid">
        <a class="yellow no-underline dib" href="/">Home</a>
        <a class="yellow no-underline dib" href="/crucible/">Crucible</a>
        <a class="yellow no-underline dib" href="/gambit/">Gambit</a>
        <a class="yellow no-underline dib" href="/vanguard/">Vanguard</a>
        <a class="yellow no-underline dib" href="/best-shader/">Best Shader</a>
        <a class="yellow no-underline dib" href="/blurst-exotic/"
          >Blurst Exotic</a
        >
        <a class="yellow no-underline dib" href="/cute/">Cute</a>
        <a class="yellow no-underline dib" href="/scary/">Scary</a>
        <a class="yellow no-underline dib" href="/cosplay/">Cosplay</a>
      </div>
    </nav>

    <main class="w-100 mw7 pv2 ph3 center flex-auto">{{ content | safe }}</main>

    <footer class="bt b--dark-gray">
      <div class="mw7 pv3 ph3 center tc">&copy; 2021 MeowPewPew</div>
    </footer>
  </body>
</html>
