---
layout: "layouts/basic.njk"
---

{{ content | safe }}
<div class="mt4"></div>
{% for img in screenshots[folder] %}
<figure class="ma0 mb4 bg-black pa2 br3 ba b--dark-gray">
  <img
    src="{{ img.url }}"
    alt=""
    width="{{ img.width }}"
    height="{{ img.height }}"
    loading="lazy"
    class="h-auto w-100 br2"
  />
  <figcaption>
    <a class="yellow hover-light-yellow cool-link f5" href="{{ img.url }}">{{
      img.name
    }}</a>
  </figcaption>
</figure>
{% endfor %}
