:root {
  scrollbar-color: #aaa #333;
}

.cool-link {
  text-decoration: none;
}

.cool-link:hover {
  text-decoration: underline;
}

.cool-link:focus {
  outline: 2px solid;
  outline-offset: 3px;
}

.copy-link:focus {
  outline: 2px solid;
  outline-offset: 3px;
}
