:root {
  scrollbar-color: #aaa #333;
}

.cool-link {
  text-decoration: none;
}

.cool-link:hover {
  text-decoration: underline;
}

.cool-link:focus {
  outline: 2px solid;
  outline-offset: 3px;
}

.copy-link:focus {
  outline: 2px solid;
  outline-offset: 3px;
}

.nav-grid {
  flex-wrap: wrap;
  display: grid;
  row-gap: 1rem;
  column-gap: 3rem;
  grid-template-columns: repeat(2, max-content);
}

@media (min-width: 30em) {
  .nav-grid {
    grid-template-columns: repeat(3, max-content);
  }
}

@media (min-width: 60em) {
  .nav-grid {
    column-gap: 1rem;
    display: flex;
  }
}
