---
title: "MeowPewPew Costume Contest"
layout: "layouts/basic.njk"
---

<h2 class="f3-ns f4">Home</h2>

<p>
  Welcome to the MeowPewPew Destiny 2 Festival of the Lost 2021 Costume Contest!
</p>

<p>
  This site was created by
  <a
    href="https://www.wavebeem.com/"
    class="yellow hover-light-yellow copy-link"
    >wavebeem</a
  >, and images belong to their respective owners from the MeowPewPew clan.
</p>

<p>
  The
  <a
    href="https://github.com/wavebeem/mpp-destiny-fotl-2021"
    class="yellow hover-light-yellow copy-link"
    >source code</a
  >
  is on GitHub. The site is built with Eleventy and hosted on Netlify.
</p>

<p>Build date: {{ buildDate }}.</p>
